<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to LionAuction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='homepage.css') }}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/name">LionAuction</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/categories">Choose an Item</a></li>
                <li><a href="/contact">Contact HelpDeskIT</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Major</th>
                            <th>Street Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ data[0] }}</td>
                            <td>{{ data[1] }}</td>
                            <td>{{ data[2] }}</td>
                            <td>{{ data[3] }}</td>
                            <td>{{ data[4] }}</td>
                            <td>{{ data[6] }}</td>
                            <td>{{ street_address }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h3>Welcome to LionAuction!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique erat sed dolor maximus, id aliquet neque volutpat. Nulla facilisi. Nam a diam nunc. Nam volutpat velit et ultricies elementum. Nullam euismod ante nec venenatis tincidunt.</p>
                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
