<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='homepage.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Seller Dashboard</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LionAuction</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/selling">Sell an Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact HelpDeskIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view-listings">View Listings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="mt-4">Seller Dashboard</h1>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Major</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ bidder_data[0] }}</td>
            <td>{{ bidder_data[1] }}</td>
            <td>{{ bidder_data[2] }}</td>
            <td>{{ bidder_data[3] }}</td>
            <td>{{ bidder_data[4] }}</td>
            <td>{{ bidder_data[6] }}</td>
        </tr>
        <tr>
            <td colspan="6" class="font-weight-bold">Street Address</td>
        </tr>
        <tr>
            <td colspan="6">{{ street_address }}</td>
        </tr>
        <tr>
            <th scope="col">Bank Routing Number</th>
            <th scope="col">Bank Account Number</th>
            <th scope="col">Balance</th>
            <th scope="col">Credit Card Number (last four digits)</th>
        </tr>
        <tr>
            <td>{{ seller_data[1] }}</td>
            <td>{{ seller_data[2] }}</td>
            <td>{{ seller_data[3] }}</td>
            <td>{{ card_num }}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim
